* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.intro-chunk,
.card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.card {
  padding-top: 8px;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

h2 {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding: 16px 24px;
  padding-left: 32px;
  margin-left: -32px;
  margin-top: 0px;
}

div.max-width-wrapper {
  padding: 0px 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

section.max-width-wrapper {
  background-color: hsl(0deg, 0%, 40%);
  padding: 32px;
}

header p {
  max-width: 60%;
}
